# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode
.idea

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Other
.DS_Store
temp
temp.*
temp_*.*
__temp__.mp4

data_collection/synonyms/